	<style>
			.SubDeptHelptooltip{
				cursor:pointer;
			}
			.SubDeptHelptooltip {
			    position: relative;
			    display: inline-block;
			}
			
			.SubDeptHelptooltip .SubDeptHelptooltiptext {
			    visibility: hidden;
			    width: 300px;
			    background-color: black;
			    color: #fff;
			    text-align: center;
			    border-radius: 6px;
			    padding: 5px 0;
			    position: absolute;
			    z-index: 1;
			    top: 150%;
			    left: 50%;
			    margin-left: -220px;
			}
			
			.SubDeptHelptooltip .SubDeptHelptooltiptext::after {
			   	content: " ";
			    position: absolute;
			    bottom: 100%;  /* At the top of the tooltip */
			    left: 50%;
			    margin-left: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent transparent black transparent;
			}
			
			.SubDeptHelptooltip:hover .SubDeptHelptooltiptext {
			    visibility: visible;
			}
			
			.EmpidMailhelp{
				cursor:pointer;
			}
			.EmpidMailhelp {
			    position: relative;
			    display: inline-block;
			}
			
			.EmpidMailhelp .EmpidMailhelpText {
			    visibility: hidden;
			    width: 300px;
			    background-color: black;
			    color: #fff;
			    text-align: center;
			    border-radius: 6px;
			    padding: 5px 0;
			    position: absolute;
			    z-index: 1;
			    top: 150%;
			    left: 50%;
			    margin-left: -220px;
			}
			
			.EmpidMailhelp .EmpidMailhelpText::after {
			   	content: " ";
			    position: absolute;
			    bottom: 100%;  /* At the top of the tooltip */
			    left: 50%;
			    margin-left: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent transparent black transparent;
			}
			
			.EmpidMailhelp:hover .EmpidMailhelpText {
			    visibility: visible;
			}
			
			.MainDeptMailhelp{
				cursor:pointer;
			}
			.MainDeptMailhelp {
			    position: relative;
			    display: inline-block;
			}
			
			.MainDeptMailhelp .MainDeptMailhelpText {
			    visibility: hidden;
			    width: 300px;
			    background-color: black;
			    color: #fff;
			    text-align: center;
			    border-radius: 6px;
			    padding: 5px 0;
			    position: absolute;
			    z-index: 1;
			    top: 150%;
			    left: 50%;
			    margin-left: -220px;
			}
			
			.MainDeptMailhelp .MainDeptMailhelpText::after {
			   	content: " ";
			    position: absolute;
			    bottom: 100%;  /* At the top of the tooltip */
			    left: 50%;
			    margin-left: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent transparent black transparent;
			}
			
			.MainDeptMailhelp:hover .MainDeptMailhelpText {
			    visibility: visible;
			}
			
			.AllEmpMailhelp{
				cursor:pointer;
			}
			.AllEmpMailhelp {
			    position: relative;
			    display: inline-block;
			}
			
			.AllEmpMailhelp .AllEmpMailhelpText {
			    visibility: hidden;
			    width: 300px;
			    background-color: black;
			    color: #fff;
			    text-align: center;
			    border-radius: 6px;
			    padding: 5px 0;
			    position: absolute;
			    z-index: 1;
			    top: 150%;
			    left: 50%;
			    margin-left: -220px;
			}
			
			.AllEmpMailhelp .AllEmpMailhelpText::after {
			   	content: " ";
			    position: absolute;
			    bottom: 100%;  /* At the top of the tooltip */
			    left: 50%;
			    margin-left: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent transparent black transparent;
			}
			
			.AllEmpMailhelp:hover .AllEmpMailhelpText {
			    visibility: visible;
			}
			</style>