
.table tr.odd td {
	cursor: pointer;
}

.table-1 div.arrow {
	background: transparent url(public/images/arrows.png) no-repeat scroll 0px
		-16px;
	width: 16px;
	height: 16px;
	display: block;
}

.table div.up {
	background-position: 0px 0px;
}
.table td:hover {
	background-color: #fff;
}


